html{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	height: 100%;
}

body > div{
	flex: 1;
}

nav{
	height: 42px;
}

.page{
	display: flex;
	flex-direction: row;
	height: 100%;
}

.page > section{
	width: 300px;
	height: 100%;
}

div.scroll{
	display: flex;
	flex-direction: column;
	height: 100%;
}

div.thead{
	height: 30px;
	width: 100%;
}

div.thead > .tr{
	padding-right: 16px;
}

div.tbody{
	flex: 1 1 0;
	overflow-y: scroll;
	width: 100%;
}

div.tbody .tr{
	height: 200px;
	/*display: flex;*/
}

div.scroll span{
	display: block;
	width: 20%;
	float: left;
	/*flex: 1;*/
}

tbody td:last-child, thead th:last-child {
	border-right: none !important;
}

.prec5{
	width: 5%;
}

.prec10{
	width: 10%;
}

.perc20{
	width: 20%;
}

.perc25{
	width: 25%;
}

.perc30{
	width: 30%;
}

.page > main{
	flex: 1;
	height: 100%;
}

.constwidth > *{
	width: 80%;
}

.constwidth{
	text-align: center;
}

.box{
	width: 80px;
	text-align: center;
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	margin: 8px;
}

.box .title{
	display: block;
	border-top: 1px solid #ddd;
	background-color: #f5f5f5;
	overflow: hidden;
	height: 24px;
}

.box .head{
	display: block;
	font-size: 30px;
	padding: 6px 0;
}

.range-group div.value{
	display: inline-block;
}

.range-group > div{
	border: 2px solid #ddd;
	border-radius: 4px;
	clear: both;
	display: inline-block;
	padding: 6px 4px 0 6px;
	width: 80%;
}

.range-group span{
	position: relative;
	top: -5px;
}

.range-group input{
	display: inline;
	width: auto;
}

#graph{
	position: relative;
	background-color: #afd9ee;
}