<section ng-init="init()">
	<div class="panel panel-default">
		<div class="panel-heading">
			Harmonogramy:
			<button class="btn btn-default pull-right" ng-click="reset()">Dodaj</button>
		</div>
		<div class="panel-body" ng-show="schedules.length===0">
			<p>Brak harmonogramów do wyboru, dodaj nowy w celu edycji</p>
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="schedule in schedules" ng-click="select($index)">{{schedule.name}}</li>
		</ul>
	</div>
</section>
<main class="schedulePage">
	<div class="scheduleFormBox">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<span class="navbar-brand" href="#">Harmonogram:</span>
				</div>
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" app-time class="form-control" ng-model="schedule.name" placeholder="Nazwa">
					</div>
				</form>
				<form class="navbar-form navbar-left">
					<button class="btn btn-default" ng-click="save()">Zapisz</button>
					<button class="btn btn-default" ng-click="remove()">Usuń</button>
				</form>
			</div>
		</nav>
	</div>
	<div class="doubleTable">
		<div class="eventTooltipBox middle" ng-show="event!==false" >
			<div ng-click="resetEvent()">
				<div class="eventTooltip" ng-click="$event.stopPropagation();">
					<form>
						<div class="form-group">
							<label for="eventName">Program:</label>
							<select class="form-control" id="eventName" ng-options="program.id as program.name for program in programs" ng-model="event.program_id"></select>
						</div>
						<div class="form-group">
							<label for="eventStart">Start o:</label>
							<table class="half">
								<tr>
									<td><input ng-time type="text" class="form-control" id="eventStart" ng-model="event.start"></td>
									<td><select class="form-control" ng-options="day.day as day.name for day in days" ng-model="event.day"></select></td>
								</tr>
							</table>
						</div>
						<div class="form-group">
							<label class="checkbox-inline">
								<input type="checkbox" ng-model="eventForEvery"> Dla każdego dnia
							</label>
						</div>
						<div>
							<label>Powiązane:</label>

						</div>
						<button class="btn btn-default" ng-click="saveEvent()">Zapisz</button>
						<button class="btn btn-default" ng-click="removeEvent()">Usuń</button>
					</form>
				</div>
			</div>
		</div>
		<div class="hoursSheetBox">
			<table class="hoursSheetTable">
				<colgroup>
					<col width="4%">
					<col ng-repeat="day in days" width="14%">
				</colgroup>
				<thead>
					<tr>
						<th>Czas:</th>
						<th ng-repeat="day in days">{{day.name}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="hours in range(24) track by $index">
						<td class="hoursColumn">{{$index | numToTime}}</td>
						<td ng-repeat="day in days"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="programSheetBox">
			<table class="programsTileTable">
				<colgroup>
					<col width="4%">
					<col ng-repeat="day in days" width="14%">
				</colgroup>
				<thead>
					<tr>
						<th></th>
						<th ng-repeat="day in days"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="hoursColumn"></td>
						<td ng-repeat="day in days" ng-click="addEvent($event, $index)">
							<div ng-repeat="event in (events = (scheduleEvents | filter:{'day': day.day} | orderBy:'start'))" app-start="{{events[$index].start}}" app-end="{{events[$index+1].start}}" ng-click="selectEvent($event, event.id)" class="programTileBox">
								<div>{{events[$index].start | minTime}}</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!--
	<form>
		<div ng-repeat="param in parameters">
			<div class="clearfix" ng-if="$index>0 && parameters[$index-1].category!==param.category"></div>
			<div ng-if="parameters[$index-1].category!==param.category" class="category-head">
				{{param.category}}
			</div>
			<div class="category">
				<label>{{param.text}}</label>
				<ng-include src="'app/programView/inputs/'+param.type+'.html'"></ng-include>
			</div>
		</div>
		<div class="clearfix"></div>
		<button type="button" class="btn btn-success" ng-click="save()">Wyślij</button>
		<button type="button" class="btn btn-warning" ng-click="reset()">Reset</button>
		<button type="button" class="btn btn-danger" ng-click="delete()" ng-disabled="program.basic">Usuń</button> {{program.basic}}
	</form>
	-->
</main>